<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <title>basic-demo</title>
  <style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      width: 100%;
      border-collapse: collapse;
    }

    #customers td,
    #customers th {
      font-size: 1em;
      border: 1px solid #98bf21;
      padding: 3px 7px 2px 7px;
    }

    #customers th {
      font-size: 1.1em;
      text-align: left;
      padding-top: 5px;
      padding-bottom: 4px;
      background-color: #A7C942;
      color: #ffffff;
    }

    #customers tr.alt td {
      color: #000000;
      background-color: #EAF2D3;
    }
  </style>

</head>

<body>
  <div id="content"></div>
  <script id="test" type="text/html">
 {{if chukuliang=='否'}}
<h1>出库量为否的情况</h1>
{{each list as value i}}

<table id="customers" class="table{{i}}">
    <tr>
        <th>合计</th>
        <th>汽油</th>
        <th>柴油</th>
    </tr>
    <tr>
      <td>{{i+1}}</td>
      <td>订单号</td>
      <td>{{value.ORDERSALE_CODE}}</td>
    </tr>
  <tr>
    <td>{{i+1}}</td>
    <td>油品名称</td>
    <td>{{value.OILINFO_NAME}}</td>
  </tr>
  <tr>
      <td>{{i+1}}</td>
      <td>配送方式</td>
      <td>{{if value.EXTRACT_TYPE==1}}
          自提
          {{else}}
          配送
          {{/if}}</td>
    </tr>
    <tr>
        <td>{{i+1}}</td>
        <td>油品数量</td>
        <td>{{value.OIL_NUMBER | getThreeDecimal}}</td>
      </tr>
        <tr>
            <td>{{i+1}}</td>
            <td>可申请数量</td>
            <td>{{value.noticenum-value.outnum}}</td>
          </tr>
          <tr>
              <td>{{i+1}}</td>
              <td>参数</td>
              <td>{{value.EXTRACT_TYPE+"#"+value.xsdwName}}</td>
            </tr>
            <tr>
                <td>{{i+1}}</td>
                <td>参数</td>
                <td><button value={{value.EXTRACT_TYPE+"#"+value.xsdwName}} id={{value.EXTRACT_TYPE+"#"+value.xsdwName}} onclick="clickFn(value)">点击事件传参</button></td>
              </tr>
</table>


{{/each}}
 {{/if}}
    
  </script>
  <script src="./template-web.js"></script>
  <script>
    var data = {
      chukuliang: "否",
      cusType: "普通客户",
      list: [{
        "CHUKULIANG": "否",
        "EXTRACT_TYPE": 1,
        "NOTICESUB_ID": "162325c1371011e884160050568d787a",
        "NOTICE_CODE": "FY1014269041",
        "NOTICE_ID": "1622765e371011e884160050568d787a",
        "OILINFO_NAME": "0号 普通柴油",
        "OIL_NUMBER": 500,
        "outnum": '200',
        "ORDERSALE_CODE": "2029584249",
        "ORDER_ID": "acd9c1882da511e884160050568d787a",
        "STATEMENT_NUM": 500.00000, "noticenum": 500.00000,
        "xsdwName": "中国石油天然气股份有限公司上海销售分公司"
      }
      ]
    };

    template.defaults.imports.getThreeDecimal = function (num) {
      return num.toFixed(3)
    };

    var html = template('test', data);
    document.getElementById('content').innerHTML = html; function clickFn(value) {
      alert(value)
      console.log(value)
    }
  </script>



</body>

</html>